<main>
  <section class="form-section">
    <img src="assets/logo.svg" alt="logo" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-group">
      <button
        class="btn-primary"
        (click)="submit()"
        [disabled]="disablePrimaryBtn"
      >
        {{ primaryBtnText }}
      </button>
      <div class="divider">
        <div></div>
        <span>OU</span>
        <div></div>
      </div>
      <button class="btn-secondary" (click)="navigate()">
        {{ secondaryBtnText }}
      </button>
    </div>
  </section>
  <section class="main-section">
    <h1>Olá, Seja Bem-vindo</h1>
    <img src="assets/banner.svg" alt="imagem de bem-vindo" />
  </section>
</main>
